.root {

    @media (max-width: 400px) {
        margin-top: 1rem;
    }
    
    margin-top: 3rem;
    li {
        display: inline-block;
        
        a {
            display: inline-block;
            text-align: center;

            width: 45px;
            height: 45px;
            line-height: 42px;

            margin-right: 10px;
            
            border: 1px solid #fe5f1e;
            border-radius: 30px;

            cursor: pointer;

            transition: .1s;
            color: #fe5f1e;

            &:hover { 
                background: #fe5f1e;
                color: #fff
            }

            @media (max-width: 400px) {
                line-height: 38px;
                width: 40px;
                height: 40px;
            }
        }
        
    }
    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff
            }
        }
    }
}